*{
    margin: 0px;
    padding: 0px;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
flex-direction: column;


}
.main-section{

    
    display: flex;
    flex-wrap: wrap;
flex-direction: column;
justify-content: space-between;
flex-basis: auto;

    
}
header{
    


    background-color: rgb(7, 69, 36);
    color: rgb(244, 244, 9);
flex-basis: 2;
    margin:10px;


}
.a{

    align-self: baseline;  
    background-color: #1d3407;
    color: aliceblue;

margin: 5px;
}
.b{


    background-color: rgb(36, 52, 3);
    color: aliceblue;
    margin: 5px;
    
}
.c{
    

    background-color: rgb(13, 54, 40);
    color: aliceblue;
margin: 5px;

}
.d{
 height: 200px;
 width: 200px;

}
menu{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(7, 69, 36);
    color: beige;
flex-basis: 2;
    margin:10px;

}
.g:hover{
    background-color: black;
    text-shadow: #39204a;
    color: aliceblue;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(7, 69, 36);
    color: rgb(238, 238, 10);
flex-basis: 2;
    margin:10px;

}
@media all and (max-width: 450px){
header    
{
    
    justify-content: center;

}
menu{
    justify-content: space-evenly;
    flex-direction: row;
}
ul{
  flex-direction: column;  
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
.main-section{
    display: flex;
flex-direction: row;    
}
}