*{
    margin: 0%;
    padding: 0%;
}
.main{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    
}
.header{
    background-color: white;
    display: flex;
    
    flex-basis: 200px;
    justify-content: right;
    border-bottom: 20px;
    border-color: black;
    padding-bottom: 2px;
    margin-bottom: 20px;
}
.menu{
display: flex;
flex-direction: column;
flex-basis: 200px;
font-weight: 100;
}
.a{
    display: flex;
    flex-direction: row;
    justify-content: left;
    
}