.logo2{
    position:absolute;
    left: 2%;
    top: 4%;
    
    }
    .logo3{
        float: right;
        position: absolute;
        top: 04%;
        left: 90%;
    
    }
    *{
       margin: 0;
       padding: 0;
    }
    .header{
        background-color: orange;
        height: 200px;
        width: 100%;
        text-align: center;
        line-height: 60px;
animation-name:header ;
animation-duration:5s;
animation-delay: 3s;
animation-iteration-count: 7;

    }
    .left{
        height: 900px;
        width: 800px;
        align-items: center;
    
    }
    .right{
        position: absolute ;
        left: 650px;
        top: 200px;
        line-height: 50px;
        font-size: 20px;
        align-items: center;
    }
    .border{
        background-color: rgb(241, 118, 10);
        width: 800px;
        height: 450px;
        text-align: center;
    }
    @keyframes header {
        
        from{background-color:orange}
        to {background-color:gold}
    
            
        }
@keyframes logo2{
    
}
    
