header {
    background-color:rgb(164, 28, 213);
    color:white;
    text-align:center;
    height: 70px;
    
}
nav {
    line-height:30px;
    background-color:#1dd110;
    height:320px;
    width:100px;
    
    float:left;

    
    
}
section {
    width: 800px;
    height: 320px;
    float:left;
    padding: 00px;
    background-color: aqua;
}
footer {
    background-color:rgb(240, 32, 150);
    color:rgb(187, 182, 182);
    clear:both;
    text-align:center;

}
