.container{
    border: 8px solid;
    display: flex;
    flex-wrap:wrap-reverse;
    justify-content: space-around;

    }
    .left{
        background-color: blueviolet;
        height: 200px;
        width: 200px;
        font-size: 30px;
        color: antiquewhite;
        text-align: center;
        padding-top: 20px;
    }
    .center{
        background-color: rgb(31, 20, 238);
        height: 200px;
        width: 200px;
        font-size: 30px;
        color: aliceblue;
        text-align: center;
        padding-top: 20px;
    }
    .right{
        background-color: rgb(245, 28, 28);
        height: 200px;
        width: 200px;
        padding-top: 20px;
        font-size: 30px;
        text-align: center;
        color: aliceblue;
    }